_esy/
.vscode/
.github/
node_modules/
wasm-micro-runtime/.devcontainer/
wasm-micro-runtime/.github/
wasm-micro-runtime/assembly-script/
wasm-micro-runtime/build-scripts/esp-idf/
wasm-micro-runtime/build-scripts/build_llvm.py
wasm-micro-runtime/**/SConscript
wasm-micro-runtime/**/SConscript_config
wasm-micro-runtime/ci/
wasm-micro-runtime/core/app-framework/
wasm-micro-runtime/core/app-mgr/
wasm-micro-runtime/core/deps/
wasm-micro-runtime/doc/
wasm-micro-runtime/language-bindings/
wasm-micro-runtime/product-mini/
wasm-micro-runtime/samples/
wasm-micro-runtime/test-tools/**
wasm-micro-runtime/tests/
wasm-micro-runtime/wamr-compiler/
wasm-micro-runtime/wamr-sdk/
wasm-micro-runtime/zephyr/
*.tar.gz
